<template>
  <v-row align="center" class="list px-3 mx-auto">
    <v-col cols="12" sm="12">
      <v-card class="mx-auto" tile>
        <v-data-table
          :headers="headers"
          :items="data"
          disable-pagination
          :hide-default-footer="true"
        >
          <template v-slot:top>
            <v-row class="list px-3 mx-auto">
              <v-col cols="3" sm="3">
                <v-text-field
                  v-model="searchTitle"
                  label="Search by Source"
                  @keyup="retrieveTraffic"
                ></v-text-field>
              </v-col>
              <v-col cols="3" sm="3"></v-col>
              <v-col cols="3" sm="3"></v-col>
              <v-col cols="3" sm="3">
                <v-select
                  v-model="pageSize"
                  :items="pageSizes"
                  label="Items per Page"
                  @change="handlePageSizeChange"
                >
                </v-select>
              </v-col>
            </v-row>
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="headline"
                  >Are you sure you want to delete this item?</v-card-title
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete"
                    >Cancel</v-btn
                  >
                  <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                    >OK</v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <edit-dialog
              :dialog="openEditdialog"
              @closeEditDialog="closeEditDialog"
              :title="dialogEditTitle"
              @saveGoal="saveGoal"
            ></edit-dialog>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-icon small class="mr-2" @click="editGoal(item)">
              mdi-pencil
            </v-icon>
            <v-icon small @click="deleteRecord(item)"> mdi-delete </v-icon>
          </template>
          <template v-slot:footer>
            <v-pagination
              v-model="page"
              :length="totalPages"
              total-visible="9"
              circle
              next-icon="mdi-menu-right"
              prev-icon="mdi-menu-left"
              @input="handlePageChange"
            >
            </v-pagination>
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import EditDialog from "@/components/EditDialog.vue";
import { mapState } from "vuex";

export default {
  name: "data-grid",
  data() {
    return {
      openEditdialog: false,
      dialogEditTitle: "",
      dialogDelete: false,
      searchTitle: "",
      itemToDelete: {},
      headers: [
        {
          text: "Source",
          align: "start",
          sortable: true,
          value: "source",
        },
        {
          text: "Users",
          value: "users",
        },
        {
          text: "New Users",
          value: "new_users",
        },
        {
          text: "Sessions",
          value: "sessions",
        },
        {
          text: "Bounce Rate",
          value: "bounce_rate",
        },
        {
          text: "First Seen On",
          value: "first_seen_on",
        },
        {
          text: "Page Session",
          value: "page_session",
        },
        {
          text: "Session Duration",
          value: "session_duration",
        },
        {
          text: "Conversion Rate",
          value: "conversion_rate",
        },
        {
          text: "Goal Value",
          value: "goal_value",
        },
        { text: "Actions", value: "actions", sortable: false },
      ],
      page: 1,
      pageSize: 20,
      pageSizes: [5, 10, 20, 40, 50, 100],
    };
  },
  props: {
    data: {
      type: Array,
      required: true,
    },
    totalPages: {
      type: Number,
      required: true,
    },
  },
  methods: {
    closeEditDialog() {
      this.openEditdialog = false;
    },
    getRequestParams(searchTitle, page, pageSize) {
      let params = {};

      if (searchTitle) {
        params["q"] = searchTitle;
      }

      if (page) {
        params["page"] = page;
      }

      if (pageSize) {
        params["rows"] = pageSize;
      }

      return params;
    },

    retrieveTraffic() {
      this.$store.dispatch("traffic/toggleLoader");
      const params = this.getRequestParams(
        this.searchTitle,
        this.page,
        this.pageSize
      );
      this.$store
        .dispatch("traffic/getTraffic", params)
        .then((data) => {
          this.$store.dispatch("traffic/toggleLoader");
        })
        .catch((response) => {
          this.$store.dispatch("traffic/toggleLoader");
        });
    },

    handlePageChange(value) {
      this.page = value;
      this.retrieveTraffic();
    },

    handlePageSizeChange(size) {
      this.pageSize = size;
      this.page = 1;
      this.retrieveTraffic();
    },
    deleteRecord(item) {
      this.dialogDelete = true;
      this.itemToDelete = item;
    },
    deleteItemConfirm(event) {
      this.$store.dispatch("traffic/toggleLoader");
      this.$store
        .dispatch("traffic/deleteRecord", this.itemToDelete)
        .then((data) => {
          this.$store.dispatch("traffic/toggleLoader");
            let payload = {
              show: true,
              type: "success",
              message: "Row deleted successfully",
            };
            this.$store.dispatch("traffic/errorResponce", payload);
        })
        .catch((error) => {
          this.$store.dispatch("traffic/toggleLoader");
          if (error.response && error.response.data.message) {
            this.$store.dispatch("traffic/errorResponce", {
              show: true,
              type: "error",
              message: error.response.data.message,
            });
          }
        });
      this.closeDelete();
    },
    closeDelete() {
      this.dialogDelete = false;
    },
    editGoal(item) {
      this.openEditdialog = true;
      this.dialogEditTitle = item.source;
      this.$store.dispatch("traffic/editRow", item);
    },
    saveGoal(newGoalValue) {
      this.$store.dispatch("traffic/toggleLoader");
      this.$store
        .dispatch("traffic/updateGoal", { goal_value: newGoalValue })
        .then((data) => {
          this.$store.dispatch("traffic/toggleLoader");
          this.openEditdialog = false;
          this.dialogEditTitle = "";
          this.retrieveTraffic();
        })
        .catch((error) => {
          this.$store.dispatch("traffic/toggleLoader");
          if (error.response && error.response.data.goal_value) {
            let payload = {
              show: true,
              type: "error",
              message: error.response.data.goal_value,
            };
            this.$store.dispatch("traffic/errorResponce", payload);
          }
        });
    },
  },
  mounted() {
    this.retrieveTraffic();
  },
  components: {
    "edit-dialog": EditDialog,
  },
};
</script>

<style lang="scss">
nav {
  padding: 20px 0;
  display: block;
}
</style>