<template>
  <div v-if="this.$store.state.editItem !== null">
    <v-overlay :value="dialog"></v-overlay>
    <v-dialog v-model="dialog" max-width="700">
      <v-card>
        <v-card-title class="headline"> Insert new Goal Value for {{title}}</v-card-title>
        <v-card-text>
          <v-text-field
            label="Goal Value"
            placeholder="xxx"
            outlined
            v-model="newGoalValue"
            @keyup.enter="saveGoal"
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey darken-1" text @click="closeEditDialog">
            Cancel
          </v-btn>
          <v-btn color="green darken-1" text @click="saveGoal"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  name: "edit-dialog",
  props: {
    title: {
      required: true,
      type: String,
    },
    dialog: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      newGoalValue: null,
    };
  },
  methods: {
    saveGoal() {
        if (this.newGoalValue !== ""){
            this.$emit("saveGoal",this.newGoalValue);
            this.newGoalValue = "";
        }else{
            // show error
        }
    },
    closeEditDialog() {
      this.newGoalValue = "";
      this.$emit("closeEditDialog");
    },
  },
};
</script>
