<template>
  <v-row align="center" class="list px-3 mx-auto">
    <v-col cols="12" sm="12">
      <v-file-input
        ref="fileUpload"
        counter
        multiple
        accept=".csv"
        label="Upload CSV"
        v-model="files"
        @change="uploadCsv"
      ></v-file-input> </v-col
  ></v-row>
</template>

<script>
export default {
  data() {
    return {
      files: [],
    };
  },
  computed: {},
  methods: {
    uploadCsv() {
      this.$store.dispatch("traffic/toggleLoader");
      let formData = new FormData();
      for (let index = 0; index < this.files.length; index++) {
        formData.append("file[" + index + "]", this.files[index]);
      }
      this.$store
        .dispatch("traffic/uploadCsv", {
          content: formData,
        })
        .then(() => {
          this.files = [];
          this.$store.dispatch("traffic/toggleLoader");
        })
        .catch((error) => {
          this.$store.dispatch("traffic/toggleLoader");
          if (error.response && error.response.data.message) {
            this.$store.dispatch("traffic/errorResponce", {
              show: true,
              type: "error",
              message: error.response.data.message,
            });
          }
        });
    },
  },
};
</script>
