<template>
  <div>
    <file-upload></file-upload>
    <data-grid :data='this.$store.state.traffic.traffic' :totalPages="this.$store.state.traffic.totalTrafficPages"></data-grid>
  </div>
</template>

<script>
import DataGrid from "@/components/DataGrid.vue";
import FileUpload from "@/components/FileUpload";
export default {
  data() {
    return {};
  },
  computed: {},
  methods: {},
  components: {
    "data-grid": DataGrid,
    "file-upload": FileUpload,
  },
};
</script>
