<template>
  <div id="app">
    <v-app id="inspire">
      <v-app id="inspire">
        <v-progress-linear
          v-if="getLoading"
          indeterminate
          color="white"
        ></v-progress-linear>
        <v-app-bar app color="indigo" dark>
          <v-toolbar-title>Miro Home Assignment</v-toolbar-title>
        </v-app-bar>
        <v-main>
          <v-container class="fill-height" fluid>
            <v-row align="center" justify="center">
              <v-col class="text-center">
                <v-alert :value="errorShow" :type="errorType">{{ errorMessage }}</v-alert>
                <router-view />
              </v-col>
            </v-row>
          </v-container>
        </v-main>
        <v-footer color="indigo" app>
          <span class="white--text">&copy; {{ new Date().getFullYear() }}</span>
        </v-footer>
      </v-app>
    </v-app>
  </div>
</template> 

<script>
import { mapGetters } from "vuex";

export default {
  name: "App",
  computed: {
    ...mapGetters({
      errorShow: 'traffic/errorShow',
      errorType: 'traffic/errorType',
      errorMessage: 'traffic/errorMessage',
      getLoading: 'traffic/getLoading',
    }),
  }
};
</script>

<style lang="scss">
@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900";
@import "https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css";
.v-progress-linear {
  z-index: 9999;
}
</style>